/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-ene-2014, 6:38:31
    Author     : Developer
*/
#fondo{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}
.box{
    background-color: rgba(45,45,45,0.6);
    /*border: solid 2px rgba(00,0,0,0.3);*/
    box-shadow:3px 3px 11px black;
    align-items: center;
}
.rebox{
    background-color: rgb(255,255,255);
    box-shadow:3px 3px 11px black;
    border-radius: 5px;
    padding:2%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 100px;
}
.smally{
   height: 35px;
}
.toLeft{
    float: left;
}

.addons{
    background-color: #cccccc;
}
.center-vertical{
    margin-top: 8%
}
.imarngin{
    margin-left: 2%;
    margin-right: 2%;
}

.imaup{
   margin: auto;
    width: 60px;
    height: 60px;
    margin-top: 8px;
 
}
.flow{
    position: relative;
    overflow: hidden;
}
.toRight{
    float:right;
}
.top{
    margin-top: 3%;
}
.lborder{
    border:solid 1px #cccccc;
    border-radius: 3px;
    padding: 5px;
        
}
.confirm{
    padding: 50px;
  }
  .texcon{
      background: rgba(200,255,200,0.4);
      width: 100%;
      height: 100%;
  }
  #profile-image1:hover{
      cursor: pointer;
       animation: infinite;
  }