/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-mar-2019, 14:59:15
    Author     : Developer
*/

.Mapa{
    height: 500px;
    width: 100%;
}
.wte{
    background-color: white;
}


.staticbox{

    width: 100%;
    background: white;
    
}
.boxMapa{

   margin-top: 105%;
}
.toRight{
    float:right;
}
.toLeft{
    float:left;
}
#confirm:hover{
    cursor: pointer;
    
}
@media only screen and (max-height: 1000px){
    .Mapa{
    height: 450px;

}
}