/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-ene-2014, 2:03:38
    Author     : Developer
*/
.nav-horizontal{
    width: 160px;
    position: fixed;
    border-radius: 0px;
    height: 100%;
    padding: 10px;
    padding-top: 20px;
}

.imageuser{
    width: 35px;
    height: 35px;
    margin-top: 8px;
    margin-left: 10px;
}
.marging-tom{
    margin-top:40%;
    margin-left: auto;
    margin-right: auto;
}
.imagEsta{
    margin: auto;
    width: 138px;
    height: 50px;
    border-radius: 2px;
}
.less-margig{
    margin-top: 1px;
    margin-bottom: 0px;
}
.top{
    margin-top: 50px;
    margin-left: 130px;
}
.blanco{
    color:white;
}
.tablet{
    margin-left:5%; 
}
.d{
    background-color: rgba(1,1,1,0);
    border:0px;
    border-top:solid 2px gray;
    border-radius: 0px;
    padding-top: 1px; 
    padding-bottom: 1px;
    font-weight: bold;
}
.center{
    margin: auto;
    
}
.toRight{
    float:right;
}
.admin-box{
    box-shadow: 5px 5px 8px 2px black;
    border:solid 1px black;
    margin-top: 2%;
    margin-bottom: 1%;
    padding:2% 4% 2% 4% ;
    
}
.toLeft{
    float: left;
}