/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-nov-2018, 20:03:27
    Author     : Developer
*/

.tablon{
    margin-top:15vh;
    padding-bottom: 80px;
    box-shadow: 5px 5px 11px;
    border:2px solid rgb(30,30,30);
}
.fila{
    margin-bottom: 20px;
    border: solid 1px rgb(30,30,30);
   
    padding: 15px;
}
.img{
    width: 40%;
    height: 40%;
}
.banda{
    background-color: rgb(30,30,30);
     border-bottom: 5px black;
     width: 100%;
     border-radius:50px 50px 0px 0px;
     
     margin-bottom: 20px;
}
.pad{
    padding-left: 50px;
    padding-right: 50px;
    
}

#l:visited{
    color: gray;
}
.toRight{
    float:right;
}
.toLeft{
    float:left;
}
h3:hover{
    color:#0987fa;
    text-decoration: underline;
    cursor: pointer;
}

h3:visited{
    color: rgba(51,141,250,0.5);
}
.black{
    color: black;
}
.admin-box{
    box-shadow: 5px 5px 8px 2px black;
    border:solid 1px black;
    margin-top: 2%;
    margin-bottom: 1%;
    padding:2% 4% 2% 4% ;
    
}